$icomoon-font-family: "gafi-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-previous: unquote('"\\e911"');
$icon-menu: unquote('"\\e910"');
$icon-facebook: unquote('"\\e901"');
$icon-arrow-left-circle: unquote('"\\e902"');
$icon-arrow-right-circle: unquote('"\\e903"');
$icon-arrow-right-short: unquote('"\\e904"');
$icon-arrow-left-short: unquote('"\\e900"');
$icon-arrow-right-long: unquote('"\\e905"');
$icon-font-size-path1: unquote('"\\e906"');
$icon-font-size-path2: unquote('"\\e907"');
$icon-contrast-circle-symbol: unquote('"\\e908"');
$icon-magnifying-glass: unquote('"\\e909"');
$icon-investment: unquote('"\\e90a"');
$icon-save-money: unquote('"\\e90b"');
$icon-flight: unquote('"\\e90c"');
$icon-pc: unquote('"\\e90d"');
$icon-twitter: unquote('"\\e90e"');
$icon-linkedin: unquote('"\\e90f"');

