:root {
  --white: #ffffff;
  --first-snow: #e8eff7;
  --cloudless: #d8e5ff;
  --midnight-blue: #25284f;
  --white-smoke: #f5f5f5;
  --ganon-blue: #a8e1f8;
  --alphabet-blue: #adccef;
  --coarse-wool: #1a1b26;
  --mirage: #1a1b25;
  --flying-fish-blue: #1753c8;
  --andromeda-blue: #aeccef;
  --bluetiful: #2463dd;
  --black: #000000;
  --dark-tyrian-blue: #0d244e;
  --explosive-grey: #c4c4c4;
  --mourning-blue: #1653c8;
  --pastel-red: #ff6f61;
  --hard-coal: #646464;
  --light-powder-blue: #c4daf2;
  --submerged: #4a7b7b;
  --naval-blue: #364c6a;
  --ensign-blue: #3b4f6b;
  --misty-mountains: #c1d0e2;
  --infinite-night: #061633;
  --atlantic-navy: #0e3173;
  --dark-blue: #1447AA;
}

[theme-dark]{
    --white: #ffffff;
    --first-snow: #e8eff7;
    --cloudless: #d8e5ff;
    --midnight-blue: #25284f;
    --white-smoke: #f5f5f5;
    --ganon-blue: #a8e1f8;
    --alphabet-blue: #adccef;
    --coarse-wool: #1a1b26;
    --mirage: #1a1b25;
    --flying-fish-blue: #1753c8;
    --andromeda-blue: #aeccef;
    --bluetiful: #2463dd;
    --black: #000000;
    --dark-tyrian-blue: #0d244e;
    --explosive-grey: #c4c4c4;
    --mourning-blue: #1653c8;
    --pastel-red: #ff6f61;
    --hard-coal: #646464;
    --light-powder-blue: #c4daf2;
    --submerged: #4a7b7b;
    --naval-blue: #364c6a;
    --ensign-blue: #3b4f6b;
    --misty-mountains: #c1d0e2;
    --infinite-night: #061633;
    --atlantic-navy: #0e3173;
}