footer{
    background-color: var(--midnight-blue);
    height: rem(555);
    .footer-container{
        display: flex;
        flex-direction: column;
        gap: rem(38);
        .nav-menu{
            .nav-menu-item{
                a{
                    color: var(--white-smoke);
                }
            }
        }
        .footer-social{
            ul{
                gap: rem(55);
                list-style: none;
                li{
                    font-size: rem(24);
                    a{
                  color: var(--white-smoke);
    
                    }
    
                }
            }
        }
        .copyrights{
            color: var(--white-smoke);
            opacity: 0.58;
        }
    }
}